.box-send-answers {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.card-send-answers {
  background-color: #ededed !important;
}

@media screen and (min-width: 900px) {
  .box-send-answers {
    width: 60vw !important;
  }
}
